remesadora/src/wsdl/10.50.59.87_9763/services/ws_data_remesadoraG8.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://ws.wso2.org/dataservice" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="remesadoraG8" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="remesadoraG8">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="remesadoraG8">
            <xs:element name="delete_cliente_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_cliente" nillable="true" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="update_tipo_remesa_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nombre" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="id_tipo" nillable="true" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="delete_historial_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="fecha" nillable="true" type="xs:dateTime"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="insert_estado_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_estado" nillable="true" type="xs:int"></xs:element>
                        <xs:element name="nombre" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="select_all_cliente_operation">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="clienteCollection" type="ns0:clienteCollection"></xs:element>
            <xs:complexType name="clienteCollection">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="cliente" type="ns0:cliente"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cliente">
                <xs:sequence>
                    <xs:element name="id_cliente" nillable="true" type="xs:integer"></xs:element>
                    <xs:element name="nombre" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="apellido" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="dpi" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="select_with_key_estado_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_estado" nillable="true" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="estadoCollection" type="ns0:estadoCollection"></xs:element>
            <xs:complexType name="estadoCollection">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="estado" type="ns0:estado"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="estado">
                <xs:sequence>
                    <xs:element name="id_estado" nillable="true" type="xs:integer"></xs:element>
                    <xs:element name="nombre" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="update_remesa_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nombre_emisor" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="apellido_receptor" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="fecha_agregado" nillable="true" type="xs:dateTime"></xs:element>
                        <xs:element name="id_receptor" nillable="true" type="xs:int"></xs:element>
                        <xs:element name="id_remesa" nillable="true" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="select_with_key_tipo_remesa_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_tipo" nillable="true" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="tipo_remesaCollection" type="ns0:tipo_remesaCollection"></xs:element>
            <xs:complexType name="tipo_remesaCollection">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="tipo_remesa" type="ns0:tipo_remesa"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="tipo_remesa">
                <xs:sequence>
                    <xs:element name="id_tipo" nillable="true" type="xs:integer"></xs:element>
                    <xs:element name="nombre" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="update_estado_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nombre" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="id_estado" nillable="true" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="insert_cliente_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nombre" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="apellido" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="dpi" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="insert_historial_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_remesa" nillable="true" type="xs:int"></xs:element>
                        <xs:element name="id_estado" nillable="true" type="xs:int"></xs:element>
                        <xs:element name="fecha" nillable="true" type="xs:dateTime"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="update_cliente_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nombre" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="apellido" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="dpi" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="id_cliente" nillable="true" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="select_all_remesa_operation">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="remesaCollection" type="ns0:remesaCollection"></xs:element>
            <xs:complexType name="remesaCollection">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="remesa" type="ns0:remesa"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="remesa">
                <xs:sequence>
                    <xs:element name="id_remesa" nillable="true" type="xs:integer"></xs:element>
                    <xs:element name="nombre_emisor" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="apellido_receptor" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="fecha_agregado" nillable="true" type="xs:dateTime"></xs:element>
                    <xs:element name="id_receptor" nillable="true" type="xs:integer"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="delete_estado_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_estado" nillable="true" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="select_with_key_cliente_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_cliente" nillable="true" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="select_all_tipo_remesa_operation">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="update_historial_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_remesa" nillable="true" type="xs:int"></xs:element>
                        <xs:element name="id_estado" nillable="true" type="xs:int"></xs:element>
                        <xs:element name="fecha" nillable="true" type="xs:dateTime"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="select_all_estado_operation">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="insert_remesa_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nombre_emisor" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="apellido_receptor" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="fecha_agregado" nillable="true" type="xs:dateTime"></xs:element>
                        <xs:element name="id_receptor" nillable="true" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="delete_tipo_remesa_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_tipo" nillable="true" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="select_with_key_remesa_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_remesa" nillable="true" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="select_all_historial_operation">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="historialCollection" type="ns0:historialCollection"></xs:element>
            <xs:complexType name="historialCollection">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="historial" type="ns0:historial"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="historial">
                <xs:sequence>
                    <xs:element name="id_remesa" nillable="true" type="xs:integer"></xs:element>
                    <xs:element name="id_estado" nillable="true" type="xs:integer"></xs:element>
                    <xs:element name="fecha" nillable="true" type="xs:dateTime"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="insert_tipo_remesa_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_tipo" nillable="true" type="xs:int"></xs:element>
                        <xs:element name="nombre" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="select_with_key_historial_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="fecha" nillable="true" type="xs:dateTime"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="delete_remesa_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_remesa" nillable="true" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
            <xs:element name="DataServiceFault" type="xs:string"></xs:element>
            <xs:element name="REQUEST_STATUS" type="xs:string"></xs:element>
            <xs:element name="DATA_SERVICE_RESPONSE">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any minOccurs="0"></xs:any>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="insert_estado_operationRequest">
        <wsdl:part name="parameters" element="ns0:insert_estado_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="delete_historial_operationRequest">
        <wsdl:part name="parameters" element="ns0:delete_historial_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="update_cliente_operationRequest">
        <wsdl:part name="parameters" element="ns0:update_cliente_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_all_tipo_remesa_operationRequest">
        <wsdl:part name="parameters" element="ns0:select_all_tipo_remesa_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_all_tipo_remesa_operationResponse">
        <wsdl:part name="parameters" element="ns0:tipo_remesaCollection"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="DataServiceFault">
        <wsdl:part name="parameters" element="ns1:DataServiceFault"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="delete_estado_operationRequest">
        <wsdl:part name="parameters" element="ns0:delete_estado_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="update_tipo_remesa_operationRequest">
        <wsdl:part name="parameters" element="ns0:update_tipo_remesa_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_with_key_estado_operationRequest">
        <wsdl:part name="parameters" element="ns0:select_with_key_estado_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_with_key_estado_operationResponse">
        <wsdl:part name="parameters" element="ns0:estadoCollection"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_all_cliente_operationRequest">
        <wsdl:part name="parameters" element="ns0:select_all_cliente_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_all_cliente_operationResponse">
        <wsdl:part name="parameters" element="ns0:clienteCollection"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_with_key_historial_operationRequest">
        <wsdl:part name="parameters" element="ns0:select_with_key_historial_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_with_key_historial_operationResponse">
        <wsdl:part name="parameters" element="ns0:historialCollection"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="insert_cliente_operationRequest">
        <wsdl:part name="parameters" element="ns0:insert_cliente_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="update_remesa_operationRequest">
        <wsdl:part name="parameters" element="ns0:update_remesa_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_all_remesa_operationRequest">
        <wsdl:part name="parameters" element="ns0:select_all_remesa_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_all_remesa_operationResponse">
        <wsdl:part name="parameters" element="ns0:remesaCollection"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_all_estado_operationRequest">
        <wsdl:part name="parameters" element="ns0:select_all_estado_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_all_estado_operationResponse">
        <wsdl:part name="parameters" element="ns0:estadoCollection"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_with_key_remesa_operationRequest">
        <wsdl:part name="parameters" element="ns0:select_with_key_remesa_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_with_key_remesa_operationResponse">
        <wsdl:part name="parameters" element="ns0:remesaCollection"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="update_estado_operationRequest">
        <wsdl:part name="parameters" element="ns0:update_estado_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_with_key_tipo_remesa_operationRequest">
        <wsdl:part name="parameters" element="ns0:select_with_key_tipo_remesa_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_with_key_tipo_remesa_operationResponse">
        <wsdl:part name="parameters" element="ns0:tipo_remesaCollection"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_all_historial_operationRequest">
        <wsdl:part name="parameters" element="ns0:select_all_historial_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_all_historial_operationResponse">
        <wsdl:part name="parameters" element="ns0:historialCollection"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="delete_cliente_operationRequest">
        <wsdl:part name="parameters" element="ns0:delete_cliente_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="insert_tipo_remesa_operationRequest">
        <wsdl:part name="parameters" element="ns0:insert_tipo_remesa_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="insert_historial_operationRequest">
        <wsdl:part name="parameters" element="ns0:insert_historial_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="insert_remesa_operationRequest">
        <wsdl:part name="parameters" element="ns0:insert_remesa_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_with_key_cliente_operationRequest">
        <wsdl:part name="parameters" element="ns0:select_with_key_cliente_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_with_key_cliente_operationResponse">
        <wsdl:part name="parameters" element="ns0:clienteCollection"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="update_historial_operationRequest">
        <wsdl:part name="parameters" element="ns0:update_historial_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="delete_tipo_remesa_operationRequest">
        <wsdl:part name="parameters" element="ns0:delete_tipo_remesa_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="delete_remesa_operationRequest">
        <wsdl:part name="parameters" element="ns0:delete_remesa_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ws_data_remesadoraG8PortType">
        <wsdl:operation name="insert_estado_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:insert_estado_operationRequest" wsaw:Action="urn:insert_estado_operation"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_historial_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:delete_historial_operationRequest" wsaw:Action="urn:delete_historial_operation"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="update_cliente_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:update_cliente_operationRequest" wsaw:Action="urn:update_cliente_operation"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_all_tipo_remesa_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:select_all_tipo_remesa_operationRequest" wsaw:Action="urn:select_all_tipo_remesa_operation"></wsdl:input>
            <wsdl:output message="ns0:select_all_tipo_remesa_operationResponse" wsaw:Action="urn:select_all_tipo_remesa_operationResponse"></wsdl:output>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:select_all_tipo_remesa_operationDataServiceFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="delete_estado_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:delete_estado_operationRequest" wsaw:Action="urn:delete_estado_operation"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="update_tipo_remesa_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:update_tipo_remesa_operationRequest" wsaw:Action="urn:update_tipo_remesa_operation"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_estado_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:select_with_key_estado_operationRequest" wsaw:Action="urn:select_with_key_estado_operation"></wsdl:input>
            <wsdl:output message="ns0:select_with_key_estado_operationResponse" wsaw:Action="urn:select_with_key_estado_operationResponse"></wsdl:output>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:select_with_key_estado_operationDataServiceFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_all_cliente_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:select_all_cliente_operationRequest" wsaw:Action="urn:select_all_cliente_operation"></wsdl:input>
            <wsdl:output message="ns0:select_all_cliente_operationResponse" wsaw:Action="urn:select_all_cliente_operationResponse"></wsdl:output>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:select_all_cliente_operationDataServiceFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_historial_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:select_with_key_historial_operationRequest" wsaw:Action="urn:select_with_key_historial_operation"></wsdl:input>
            <wsdl:output message="ns0:select_with_key_historial_operationResponse" wsaw:Action="urn:select_with_key_historial_operationResponse"></wsdl:output>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:select_with_key_historial_operationDataServiceFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="insert_cliente_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:insert_cliente_operationRequest" wsaw:Action="urn:insert_cliente_operation"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="update_remesa_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:update_remesa_operationRequest" wsaw:Action="urn:update_remesa_operation"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_all_remesa_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:select_all_remesa_operationRequest" wsaw:Action="urn:select_all_remesa_operation"></wsdl:input>
            <wsdl:output message="ns0:select_all_remesa_operationResponse" wsaw:Action="urn:select_all_remesa_operationResponse"></wsdl:output>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:select_all_remesa_operationDataServiceFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_all_estado_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:select_all_estado_operationRequest" wsaw:Action="urn:select_all_estado_operation"></wsdl:input>
            <wsdl:output message="ns0:select_all_estado_operationResponse" wsaw:Action="urn:select_all_estado_operationResponse"></wsdl:output>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:select_all_estado_operationDataServiceFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_remesa_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:select_with_key_remesa_operationRequest" wsaw:Action="urn:select_with_key_remesa_operation"></wsdl:input>
            <wsdl:output message="ns0:select_with_key_remesa_operationResponse" wsaw:Action="urn:select_with_key_remesa_operationResponse"></wsdl:output>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:select_with_key_remesa_operationDataServiceFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="update_estado_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:update_estado_operationRequest" wsaw:Action="urn:update_estado_operation"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_tipo_remesa_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:select_with_key_tipo_remesa_operationRequest" wsaw:Action="urn:select_with_key_tipo_remesa_operation"></wsdl:input>
            <wsdl:output message="ns0:select_with_key_tipo_remesa_operationResponse" wsaw:Action="urn:select_with_key_tipo_remesa_operationResponse"></wsdl:output>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:select_with_key_tipo_remesa_operationDataServiceFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_all_historial_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:select_all_historial_operationRequest" wsaw:Action="urn:select_all_historial_operation"></wsdl:input>
            <wsdl:output message="ns0:select_all_historial_operationResponse" wsaw:Action="urn:select_all_historial_operationResponse"></wsdl:output>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:select_all_historial_operationDataServiceFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="delete_cliente_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:delete_cliente_operationRequest" wsaw:Action="urn:delete_cliente_operation"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insert_tipo_remesa_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:insert_tipo_remesa_operationRequest" wsaw:Action="urn:insert_tipo_remesa_operation"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insert_historial_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:insert_historial_operationRequest" wsaw:Action="urn:insert_historial_operation"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insert_remesa_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:insert_remesa_operationRequest" wsaw:Action="urn:insert_remesa_operation"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_cliente_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:select_with_key_cliente_operationRequest" wsaw:Action="urn:select_with_key_cliente_operation"></wsdl:input>
            <wsdl:output message="ns0:select_with_key_cliente_operationResponse" wsaw:Action="urn:select_with_key_cliente_operationResponse"></wsdl:output>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:select_with_key_cliente_operationDataServiceFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="update_historial_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:update_historial_operationRequest" wsaw:Action="urn:update_historial_operation"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_tipo_remesa_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:delete_tipo_remesa_operationRequest" wsaw:Action="urn:delete_tipo_remesa_operation"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_remesa_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:delete_remesa_operationRequest" wsaw:Action="urn:delete_remesa_operation"></wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ws_data_remesadoraG8SOAP11Binding" type="ns0:ws_data_remesadoraG8PortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="insert_estado_operation">
            <soap:operation soapAction="urn:insert_estado_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_historial_operation">
            <soap:operation soapAction="urn:delete_historial_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="update_cliente_operation">
            <soap:operation soapAction="urn:update_cliente_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_all_tipo_remesa_operation">
            <soap:operation soapAction="urn:select_all_tipo_remesa_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="delete_estado_operation">
            <soap:operation soapAction="urn:delete_estado_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="update_tipo_remesa_operation">
            <soap:operation soapAction="urn:update_tipo_remesa_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_estado_operation">
            <soap:operation soapAction="urn:select_with_key_estado_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_all_cliente_operation">
            <soap:operation soapAction="urn:select_all_cliente_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_historial_operation">
            <soap:operation soapAction="urn:select_with_key_historial_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="insert_cliente_operation">
            <soap:operation soapAction="urn:insert_cliente_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="update_remesa_operation">
            <soap:operation soapAction="urn:update_remesa_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_all_remesa_operation">
            <soap:operation soapAction="urn:select_all_remesa_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_all_estado_operation">
            <soap:operation soapAction="urn:select_all_estado_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_remesa_operation">
            <soap:operation soapAction="urn:select_with_key_remesa_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="update_estado_operation">
            <soap:operation soapAction="urn:update_estado_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_tipo_remesa_operation">
            <soap:operation soapAction="urn:select_with_key_tipo_remesa_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_all_historial_operation">
            <soap:operation soapAction="urn:select_all_historial_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="delete_cliente_operation">
            <soap:operation soapAction="urn:delete_cliente_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insert_tipo_remesa_operation">
            <soap:operation soapAction="urn:insert_tipo_remesa_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insert_historial_operation">
            <soap:operation soapAction="urn:insert_historial_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insert_remesa_operation">
            <soap:operation soapAction="urn:insert_remesa_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_cliente_operation">
            <soap:operation soapAction="urn:select_with_key_cliente_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="update_historial_operation">
            <soap:operation soapAction="urn:update_historial_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_tipo_remesa_operation">
            <soap:operation soapAction="urn:delete_tipo_remesa_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_remesa_operation">
            <soap:operation soapAction="urn:delete_remesa_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ws_data_remesadoraG8SOAP12Binding" type="ns0:ws_data_remesadoraG8PortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="insert_estado_operation">
            <soap12:operation soapAction="urn:insert_estado_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_historial_operation">
            <soap12:operation soapAction="urn:delete_historial_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="update_cliente_operation">
            <soap12:operation soapAction="urn:update_cliente_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_all_tipo_remesa_operation">
            <soap12:operation soapAction="urn:select_all_tipo_remesa_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="delete_estado_operation">
            <soap12:operation soapAction="urn:delete_estado_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="update_tipo_remesa_operation">
            <soap12:operation soapAction="urn:update_tipo_remesa_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_estado_operation">
            <soap12:operation soapAction="urn:select_with_key_estado_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_all_cliente_operation">
            <soap12:operation soapAction="urn:select_all_cliente_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_historial_operation">
            <soap12:operation soapAction="urn:select_with_key_historial_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="insert_cliente_operation">
            <soap12:operation soapAction="urn:insert_cliente_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="update_remesa_operation">
            <soap12:operation soapAction="urn:update_remesa_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_all_remesa_operation">
            <soap12:operation soapAction="urn:select_all_remesa_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_all_estado_operation">
            <soap12:operation soapAction="urn:select_all_estado_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_remesa_operation">
            <soap12:operation soapAction="urn:select_with_key_remesa_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="update_estado_operation">
            <soap12:operation soapAction="urn:update_estado_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_tipo_remesa_operation">
            <soap12:operation soapAction="urn:select_with_key_tipo_remesa_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_all_historial_operation">
            <soap12:operation soapAction="urn:select_all_historial_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="delete_cliente_operation">
            <soap12:operation soapAction="urn:delete_cliente_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insert_tipo_remesa_operation">
            <soap12:operation soapAction="urn:insert_tipo_remesa_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insert_historial_operation">
            <soap12:operation soapAction="urn:insert_historial_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insert_remesa_operation">
            <soap12:operation soapAction="urn:insert_remesa_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_cliente_operation">
            <soap12:operation soapAction="urn:select_with_key_cliente_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="update_historial_operation">
            <soap12:operation soapAction="urn:update_historial_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_tipo_remesa_operation">
            <soap12:operation soapAction="urn:delete_tipo_remesa_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_remesa_operation">
            <soap12:operation soapAction="urn:delete_remesa_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ws_data_remesadoraG8HttpBinding" type="ns0:ws_data_remesadoraG8PortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="insert_estado_operation">
            <http:operation location="insert_estado_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_historial_operation">
            <http:operation location="delete_historial_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="update_cliente_operation">
            <http:operation location="update_cliente_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_all_tipo_remesa_operation">
            <http:operation location="select_all_tipo_remesa_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delete_estado_operation">
            <http:operation location="delete_estado_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="update_tipo_remesa_operation">
            <http:operation location="update_tipo_remesa_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_estado_operation">
            <http:operation location="select_with_key_estado_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="select_all_cliente_operation">
            <http:operation location="select_all_cliente_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_historial_operation">
            <http:operation location="select_with_key_historial_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insert_cliente_operation">
            <http:operation location="insert_cliente_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="update_remesa_operation">
            <http:operation location="update_remesa_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_all_remesa_operation">
            <http:operation location="select_all_remesa_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="select_all_estado_operation">
            <http:operation location="select_all_estado_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_remesa_operation">
            <http:operation location="select_with_key_remesa_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update_estado_operation">
            <http:operation location="update_estado_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_tipo_remesa_operation">
            <http:operation location="select_with_key_tipo_remesa_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="select_all_historial_operation">
            <http:operation location="select_all_historial_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delete_cliente_operation">
            <http:operation location="delete_cliente_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insert_tipo_remesa_operation">
            <http:operation location="insert_tipo_remesa_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insert_historial_operation">
            <http:operation location="insert_historial_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insert_remesa_operation">
            <http:operation location="insert_remesa_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_cliente_operation">
            <http:operation location="select_with_key_cliente_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update_historial_operation">
            <http:operation location="update_historial_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_tipo_remesa_operation">
            <http:operation location="delete_tipo_remesa_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_remesa_operation">
            <http:operation location="delete_remesa_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ws_data_remesadoraG8">
        <wsdl:port name="SOAP11Endpoint" binding="ns0:ws_data_remesadoraG8SOAP11Binding">
            <soap:address location="http://10.50.59.87:9763/services/ws_data_remesadoraG8.SOAP11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="SecureSOAP11Endpoint" binding="ns0:ws_data_remesadoraG8SOAP11Binding">
            <soap:address location="https://10.50.59.87:9443/services/ws_data_remesadoraG8.SecureSOAP11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="SecureSOAP12Endpoint" binding="ns0:ws_data_remesadoraG8SOAP12Binding">
            <soap12:address location="https://10.50.59.87:9443/services/ws_data_remesadoraG8.SecureSOAP12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="SOAP12Endpoint" binding="ns0:ws_data_remesadoraG8SOAP12Binding">
            <soap12:address location="http://10.50.59.87:9763/services/ws_data_remesadoraG8.SOAP12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="HTTPEndpoint" binding="ns0:ws_data_remesadoraG8HttpBinding">
            <http:address location="http://10.50.59.87:9763/services/ws_data_remesadoraG8.HTTPEndpoint/"></http:address>
        </wsdl:port>
        <wsdl:port name="SecureHTTPEndpoint" binding="ns0:ws_data_remesadoraG8HttpBinding">
            <http:address location="https://10.50.59.87:9443/services/ws_data_remesadoraG8.SecureHTTPEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>